<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEB打印控件LODOP的样例一:在页面内引入打印控件</title>
    <script language="javascript" type="text/javascript" src="/static/LodopFuncs.js"></script>
    <object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0></object>
    <script language="javascript" type="text/javascript">
        var LODOP;
        //setTimeout("CreatePrintPage()","500");  //500毫秒后执行print()函数，只执行一次。
        function CreatePrintPage() {
            //LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
            //LODOP.SET_PRINT_PAGESIZE(1, 0, 0, "A4"); //规定纸张大小；使用A4纸。
            //LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
           // LODOP.SET_PRINT_PAGESIZE(1, 0, 0, "A4"); //规定纸张大小；使用A4纸。
            LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_空白练习");
            LODOP.ADD_PRINT_TEXT(98,182,399,319,"天道酬勤");
            LODOP.SET_PRINT_STYLEA(0,"FontName","微软雅黑");
            LODOP.SET_PRINT_STYLEA(0,"FontSize",20);
            LODOP.SET_PRINT_STYLEA(0,"Alignment",2);

            LODOP.ADD_PRINT_TEXT(191,278,207,27,"得志今晚不洗澡");
            LODOP.SET_PRINT_STYLEA(0,"FontName","方正姚体");
            LODOP.SET_PRINT_STYLEA(0,"FontSize",10);
            LODOP.SET_PRINT_STYLEA(0,"Alignment",2);

            LODOP.ADD_PRINT_TEXT(268,240,281,31,"洗澡只洗脑白金");
            LODOP.SET_PRINT_STYLEA(0,"FontName","华文琥珀");
            LODOP.SET_PRINT_STYLEA(0,"FontSize",11);
            LODOP.SET_PRINT_STYLEA(0,"Alignment",2);

            LODOP.ADD_PRINT_TEXT(364,451,102,24,"署名：得志");
            LODOP.SET_PRINT_STYLEA(0,"FontName","幼圆");
            LODOP.ADD_PRINT_RECT(90,178,403,328,0,1);

            LODOP.PREVIEW();//打印预览
        }
        var LODOP;
        function getMyLodop() {
            LODOP=getLodop();
            if (LODOP.CVERSION){
                CLODOP.On_Return=function(TaskID,Value){
                    var code = Value;
                    alert(code);
                    //console.info(code);
                    document.getElementById('S1').value=Value;
                }
            }
            LODOP.PRINT_DESIGN();
        }
        function commit() {
            window.location.href='hello.html';
        }
    </script>
</head>

<body>
<input type="text" value="输入模板名称" id="module"/>
<a href="javascript:;" onclick="getMyLodop();">打印设计</a>
<input type="button" onclick="commit();" value="保存"/>
<p><textarea rows="12" id="S1" cols="107" >返回的结果值</textarea>

</body>
</html>
