<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WEB打印控件LODOP的样例一:在页面内引入打印控件</title>
    <script language="javascript" type="text/javascript" src="../static/LodopFuncs.js"></script>
    <object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0></object>

    <script language="javascript" type="text/javascript"></script>
    <script>
        var LODOP; //声明为全局变量
        function p() {
            setTimeout(function () {
                LODOP.PRINT_INIT("打印任务名");               //首先一个初始化语句
                LODOP.ADD_PRINT_TEXT(0, 0, 100, 20, "文本内容一");//然后多个ADD语句及SET语句

                LODOP.PRINT_INITA(0,0,803,600,"六只羊名片");
                LODOP.SET_PRINT_MODE("PRINT_NOCOLLATE",1);
                LODOP.ADD_PRINT_RECT(85,151,350,200,0,1);
                LODOP.ADD_PRINT_TEXT(105,192,100,20,"羊圈大佬——CEO");
                LODOP.ADD_PRINT_TEXT(168,277,100,30,"六只羊");
                LODOP.SET_PRINT_STYLEA(0,"FontName","华文新魏");
                LODOP.SET_PRINT_STYLEA(0,"FontSize",18);
                LODOP.ADD_PRINT_TEXT(242,323,150,20,"电话：18273791319");

                LODOP.PREVIEW() ;                           //最后一个打印(或预览、维护、设计)语句
            }, 1000)
        }


    </script>
<body>
进入<a href="javascript:;" onclick="p();">模板的打印预览</a>
</body>
</html>